<div class="divTableCell">{{unit.$key}}</div>
<div class="divTableCell unit {{unitclass()}}">&nbsp;</div>
<div class="divTableCell">{{unit.name}}</div>
<div class="divTableCell">{{unit.mineral}}</div>
<div class="divTableCell">{{unit.vespene}}</div>
<div class="divTableCell">{{unit.supply}}</div>
<div class="divTableCell">{{unit.buildTime}}</div>
<div class="divTableCell">{{unit.buildFrom}}</div>
<div class="divTableCell">{{unit.life}}</div>
<div class="divTableCell">{{unit.energy}}</div>
<div class="divTableCell">{{unit.armor}}</div>