<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add unit to SC2 roster</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Name:</label>
        <br>
        <input #newName>
      </div>
      <div>
        <label>Mineral:</label>
        <br>
        <input #newMineral>
      </div>
      <div>
        <label>Vespine Gas:</label>
        <br>
        <input #newVespene>
      </div>
      <div>
        <label>Supply:</label>
        <br>
        <input #newSupply>
      </div>
      <div>
        <label>build Time:</label>
        <br>
        <input #newBuildTime>
      </div>
      <div>
        <label>Build From:</label>
        <br>
        <input #newBuildFrom>
      </div>
      <div>
        <label>Life:</label>
        <br>
        <input #newLife>
      </div>
      <div>
        <label>Energy:</label>
        <br>
        <input #newEnergy>
      </div>
      <div>
        <label>Armor:</label>
        <br>
        <input #newArmor>
      </div>
      <div>
        <label>Description:</label>
        <br>
        <textarea #newDesc></textarea>
      </div>
      <button (click)="submitForm(newName.value, newMineral.value, newVespene.value, newSupply.value, newBuildTime.value, newBuildFrom.value, newLife.value, newEnergy.value, newArmor.value, newDesc.value)">Add New Unit</button>
    </div>
  </div>
</div>